codigo.cpp
/proyectocsharp/.vscode/
/proyectocsharp/proyectouno/bin/Debug/net6.0/proyectouno.dll
/proyectocsharp/proyectouno/bin/Debug/net6.0/proyectouno.pdb
/proyectocsharp/proyectouno/obj/Debug/net6.0/proyectouno.dll
/proyectocsharp/proyectouno/obj/Debug/net6.0/proyectouno.pdb